---
layout: default
---

<div class="container">
  <!-- begin author -->
  <section class="author" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="700">
    <div class="author__inner">
  <img src="{{site.baseurl}}{{site.author.image}}" alt="{{site.author.name}}" class="author__img">
      <h1 class="author__job">{{ site.author.job }}</h1>
      <p class="author__bio">{{ site.author.bio }}</p>
      <div class="author__more">
        <a href="mailto:{{site.author.email}}?subject=Hello%20%F0%9F%91%8B" class="say-hello">Say hello</a>
        <a href="{{site.baseurl}}/about/" class="know-more">Know More</a>
      </div>
    </div>
  <h3 style="text-align: center;" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="700" >Articles 👇 </h3>
  <!-- end author -->
  <br>
</div>

<div class="container">
  {% if site.posts.size > 0 %}
    {% for post in site.posts %}
    <div class="article" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="800">
      {% if post.image %}
      <div class="article__image-box">
        <a href="{{post.url | prepend: site.baseurl}}" class="article__image" style="background-image: url({{site.baseurl}}{{post.image}})"></a>
      </div>
      {% endif %}
      <div class="article__content">
        <h2 class="article__title">
          <a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a>
        </h2>
        <div class="article__meta">
          <span class="article__date">Published <time datetime="{{ post.date | date_to_xmlschema }}">{% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %}{{ post.date | date: date_format }}</time></span>
        </div>
        <p class="article__excerpt">{% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | truncate: 130 }}{% endif %}</p>
        <a href="{{ post.url | prepend: site.baseurl }}" class="read-more">Read the rest</a>
      </div>
    </div>
    {% endfor %}
  {% endif %}
</div>
<section class="nft" data-aos="fade-up" data-aos-easing="ease-out-quad" data-aos-duration="700">
<div class="nft">
  <h4 style="text-align: center;">My expensive JPEGs 🙈 </h4>
  <nft-card
  contractAddress="0x89d0f4f3b3173f4e47ccf64b5d03d982e2dd6387"
  tokenId="1085">
  </nft-card>
  <br>
  <script src="https://unpkg.com/embeddable-nfts/dist/nft-card.min.js"></script>
  <nft-card
  contractAddress="0xd5e793c08ce6e4bc225b64f19496629a81873c22"
  tokenId="783">
  </nft-card>
  <script src="https://unpkg.com/embeddable-nfts/dist/nft-card.min.js"></script>
  <br>
  <p style="text-align: center;"><a href="https://opensea.io/JPEG_2000">See all</a></p>
</div>
</section>